*{ 
    margin: 0%;
    padding: 0%;


}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.header-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.bear{
    height: 100px;
}

.links ul{
    d
}
.links a{
    text-decoration: none;
    color: white;
}
.links li{
    list-style-type: none;
    display: inline;
    padding-left: 30px;
}
.top-container{
    justify-content: space-around;
    background-color: #1F2937 ;
    position: relative;
    

    
}
.left-heading-container{
    width: 300px;
    padding-left: 30px;
    margin-left: 362px;
    
}
.left-heading{
    font-size: 48px;
    color: white;
    
}
.forest{
    height: 200px;
    width: 350px;
}
.paragraph-container{
    width: 370px;
    color: white;
    padding-left: 30px;
    margin-left: 362px;
}
.forest{
    position: absolute;
    right: 265px;
    top: 0;
}
.sign-up{
    background-color: #3882F6;
    padding: 7px;
    border-radius: 10px;
    width: 100px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}